:root {
    --logosize: 60px;
    --herofont: Roboto;
    --silverbg: #bbbbbb;
    --eggshell: #F5F5F5;
    --purp: #ddd1e8;
    --blackish: #1a1a1a;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Figtree';
    src: url("/Figtree-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-header';
    src: url("/public/Roboto_Condensed-Bold.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("/public/Roboto-VariableFont_wdth\,wght.ttf");
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.basebody {
    background-color: var(--blackish);
}

.generic-container {
    background-color: var(--silverbg);
    border-radius: 20px;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.generic-container p {
    font-family: var(--herofont);
    font-size: 20px;
}

.generic-container h3 {
    font-family: var(--herofont);
    font-size: 30px;
}

.generic-container a {
    font-family: var(--herofont);
    font-size: 20px;
}

.generic-container ul {
    list-style-position: inside;
    list-style-type: square;
}