.hero-container {
    background-color: var(--silverbg);
    border-radius: 20px;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.hero-container h1 {
    font-family: var(--herofont);
    font-size: 60px;
    text-align: center;
}

.hero-container h2 {
    font-family: var(--herofont);
    font-size: 30px;
    text-align: center;
}

.hero-container p {
    font-family: var(--herofont);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 20px;
}

.hero-cards {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}