---
import "../styles/global.css"
import "../styles/header.css"
---

<section class="header-container">
	<section class="header">
		<div class="logo">
			<h1 id="logo1">TOVA</h1>
			<h1 id="logo2">TOVA</h1>
		</div>

		<div class="navbar">
			<nav>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/blog">BLOG</a></li>
				</ul>
			</nav>
		</div>
	</section>
</section>