---
import "../styles/global.css"
import "../styles/hero.css"
import { Image } from "astro:assets";

import hero1 from "../images/hero1.png";
import hero2 from "../images/hero2.png";
import hero3 from "../images/hero3.png";
---

<section class="hero-container">
    <h1>Hi there! I'm Tova!</h1>
    <section class="hero-cards">
        <Image 
            src={hero1} 
            alt="alt"
            width="250"
            height="400"
        />
        <Image 
            src={hero2} 
            alt="alt"
            width="250"
            height="400"
        />
        <Image 
            src={hero3} 
            alt="alt"
            width="250"
            height="400"
        />
    </section>
    <h2>I'm a computational designer and 3D artist based in NYC.</h2>
    <p>I have a Master's degree in Computational Technology in Architecture and experience with a wide variety of tools including Rhino, Grasshopper, Blender, KUKA robots, 3D printers, Python & other programming languages, and more!</p>
    <br>
    <p>Contact me at <b>tovagold79 @ gmail dot com</b> to work with me!</p>
</section>