---
import Header from '../components/Header.astro';
import '../styles/global.css'

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>

	<body class="basebody">
        <Header />
        <section class="generic-container">
            <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
            <br>
            <h3>{frontmatter.title}</h3>
            <br>
            <slot />
        </section>
	</body>
</html>